<div class="container text-end content py-4" dir="rtl">
    <h2 class="fw-bold">مرحبا بك في إدارة الأغذية الخاصة</h2>
    <p class="text-muted py-3">إختر من الخيارات الموضحة:</p>
    <div class="row pt-3 mb-4">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off"
                checked>
            <label class="btn btn-outline-primary widthCard py-4" for="success-outlined">
                <img src="assets/images/Info.png" class="imgAbsolute" alt="">
                <img src="assets/images/Factory.png" class="img-fluid" alt="">
                <h5 class="textBlack pt-3 fw-bold">المصانع</h5>
            </label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="radio" class="btn-check" name="options-outlined" id="white-outlined" autocomplete="off">
            <label class="btn btn-outline-primary widthCard py-4" for="white-outlined">
                <img src="assets/images/Info.png" class="imgAbsolute" alt="">
                <img src="assets/images/enterprise.png" class="img-fluid" alt="">
                <h5 class="textBlack pt-3 fw-bold">شركات التصنيع لدي الغير</h5>
            </label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="radio" class="btn-check" name="options-outlined" id="danger-outline" autocomplete="off">
            <label class="btn btn-outline-primary widthCard py-4" for="danger-outline">
                <img src="assets/images/Info.png" class="imgAbsolute" alt="">
                <img src="assets/images/import.png" class="img-fluid" alt="">
                <h5 class="textBlack pt-3 fw-bold"> شركات الإستيراد والتصدير </h5>
            </label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="radio" class="btn-check" name="options-outlined" id="light-outline" autocomplete="off">
            <label class="btn btn-outline-primary widthCard py-4" for="light-outline">
                <img src="assets/images/Info.png" class="imgAbsolute" alt="">
                <img src="assets/images/package.png" class="img-fluid" alt="">
                <h5 class="textBlack pt-3 fw-bold"> المنتجات </h5>
            </label>
        </div>
    </div>
    <button class="btn btnGreen my-5">التالي</button>
</div>