.btn-outline-primary:active .textBlack,
.btn-outline-primary:visited .textBlack,
.btn-check:checked + .btn-outline-primary .textBlack,
.btn-outline-primary:hover .textBlack {
    color: white;
}
.btn-outline-primary:hover,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    border: 3px solid #226d2f;
    background-color: #226d2f;
    color: white;
    box-shadow: none;
}

.btnSend {
    background-color: #eeeeee;
    min-width: 262px;
    height: 60px;
    border-color: #eeeeee;
    color: black;
    border-radius: 15px;
    font-weight: bold;
}
.btnSend:hover,
.outGreen:hover {
    opacity: 0.8;
}

.outGreen {
    min-width: 262px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid #226d2f;
    color: #226d2f;
    font-weight: bold;
}

.modal-body {
    p {
        margin-bottom: 20px;
        font-size: 15px;

        @media screen and (max-width: 400px) {
            font-size: 13px;
        }
    }
}
.modal-header .btn-close {
    margin: -0.5rem auto -0.5rem -0.5rem;
}

.back-drob-landing {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: #00000059;
}

.landing-details-index {
    position: relative;
    z-index: 4;
}
.btnIndex{
    z-index: 0;
}
.factory-under-card {
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
        max-width: 262px;
    }
    p {
        margin: unset;
        text-align: center;
        font-size: 12px;
    }

    .first-p {
        color: #226d2f;
    }

    .second-p {
        color: #000;
        opacity: 0.5;
    }
}
