<header class="bg-white py-2">
    <div class="container">
        <img src="assets/images/Frame.png" class="img-fluid ms-auto d-block" alt="">
    </div>
</header>
<div class="container text-end content py-4">
    <h2>إستعادة كلمة المرور</h2>
    <form action="#" class="formAdd pt-4">
        <div class="row" dir="rtl">
            <div class="col-md-6">
                <label for="password" class="form-label"> كلمة المرور الجديدة</label>
                <div class="input-group" for="password" dir="ltr">
                    <span class="input-group-text"> إجباري *</span>
                    <input type="password" class="form-control text-end" id="password">
                </div>
            </div>
            <div class="col-md-6">
                <label for="cpassword" class="form-label"> تأكيد كلمة المرور </label>
                <div class="input-group" for="password" dir="ltr">
                    <span class="input-group-text"> إجباري *</span>
                    <input type="password" class="form-control text-end" id="cpassword">
                </div>
            </div>
        </div>
        <button class="btn btnGreen my-4"> حفظ كلمة المرور </button>
    </form>
</div>
<footer class="footer bg-white" dir="rtl">
    <div class="container">
        <div class="row pt-2">
            <div class="col">
                <p> إدارة الأغذية الخاصة FSDU</p>
            </div>
            <div class="col text-start">
                <p>جميع الحقوق محفوظة 2021 </p>
            </div>
        </div>
    </div>
</footer>