<div class="container text-end content py-4">
    <h2>إستعادة كلمة المرور</h2>
    <form action="#" class="formAdd pt-4">
        <div class="row" dir="rtl">
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,1)">كلمة المرور الجديدة</p>
                </div>
                <div class="input-form-div error-field">
                    <input type="password" placeholder="كلمة المرور الجديدة" [(ngModel)]="inputs[1][1]" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,2)"> تأكيد كلمة المرور </p>
                </div>
                <div class="input-form-div error-field">
                    <input type="password" placeholder=" تأكيد كلمة المرور " [(ngModel)]="inputs[1][2]" name="input_2">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
        </div>
        <button class="btn btnGreen my-4"> حفظ كلمة المرور </button>
    </form>
</div>