<div class="container text-end content py-4" *ngIf="!view_success">
    <h2>إستعادة كلمة المرور</h2>
    <form action="#" class="formAdd pt-4">
        <div class="row" dir="rtl">
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,1)">  إسم الشركة باللغة الإنجليزية / البريد الإلكتروني  </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="إسم الشركة باللغة الإنجليزية / البريد الإلكتروني" [(ngModel)]="inputs[1][1]" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">يطابق نموذج التسجيل</p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,4)">رقم البطاقة الضريبية</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="رقم البطاقة الضريبية" [(ngModel)]="inputs[1][4]" name="input_4">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">(ﺛﺎﺑﺖ وﺧﺎص ﺑﺎﻟﺘﻮاﺻﻞ)</p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
        </div>
        <p class="pt-4">سوف يتم إرسال رابط إستعادة كلمة المرور علي البريد الإلكتروني المدخل</p>
        <button class="btn btnGreen my-4" (click)="request_reset_password()"> إستعادة كلمة المرور </button>
    </form>
</div>

<app-success-message *ngIf="view_success" [message_1]="message_1" [message_2]="message_2" [message_3]="message_3"
    (button_clicked)="button_clicked($event)">
</app-success-message>