<header class="bg-white py-2">
    <div class="container">
        <img src="assets/images/Frame.png" class="img-fluid ms-auto d-block" alt="">
    </div>
</header>
<div class="container text-end content py-4" *ngIf="!view_success">
    <h2>إستعادة كلمة المرور</h2>
    <form action="#" class="formAdd pt-4">
        <div class="row" dir="rtl">
            <div class="col-md-6 mb-3">
                <label for="name_en" class="form-label"> إسم الشركة باللغة الإنجليزية / البريد الإلكتروني</label>
                <div class="input-group" for="name_en" dir="ltr">
                    <span class="input-group-text"> إجباري *</span>
                    <input type="text" class="form-control text-end" id="name_en">
                </div>
                <!-- <small>يطابق نموذج التسجيل</small> -->
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_number" class="form-label">رقم البطاقة الضريبية</label>
                <div class="input-group" for="id_number" dir="ltr">
                    <span class="input-group-text"> إجباري *</span>
                    <input type="text" class="form-control text-end" id="id_number">
                </div>
            </div>
        </div>
        <p class="pt-4">سوف يتم إرسال رابط إستعادة كلمة المرور علي البريد الإلكتروني المدخل</p>
        <button class="btn btnGreen my-4" (click)="request_reset_password()"> إستعادة كلمة المرور </button>
    </form>
</div>



<div class="container text-end content py-4" *ngIf="view_success">
    <div class="pt-3 text-center">
        <img src="assets/images/success.PNG" class="mx-auto d-block img-fluid" alt="">
        <h2 class="fw-bold pb-2 pt-3">تم إرسال الرابط إلي بريدك الإلكتروني بنجاح !</h2>
        <h4>تفحص بريدك الإلكتروني الآن لإستعادة كلمة مرورك</h4>
        <a routerLink="/login" class="btn btnGreen pt-3 my-5"> العودة إلي تسجيل الدخول</a>
    </div>
</div>


<footer class="footer bg-white" dir="rtl">
    <div class="container">
        <div class="row pt-2">
            <div class="col">
                <p> إدارة الأغذية الخاصة FSDU</p>
            </div>
            <div class="col text-start">
                <p>جميع الحقوق محفوظة 2021 </p>
            </div>
        </div>
    </div>
</footer>