<div class="container text-end content py-4" *ngIf="!view_success">
    <h2>إستعادة كلمة المرور</h2>
    <form action="#" class="formAdd pt-4">
        <div class="row" dir="rtl">
            <div class="col-md-6 mb-3">
                <label for="name_en" class="form-label"> إسم الشركة باللغة الإنجليزية / البريد الإلكتروني</label>
                <div class="input-group" for="name_en" dir="ltr">
                    <span class="input-group-text"> إجباري *</span>
                    <input type="text" class="form-control text-end" id="name_en">
                </div>
                <!-- <small>يطابق نموذج التسجيل</small> -->
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_number" class="form-label">رقم البطاقة الضريبية</label>
                <div class="input-group" for="id_number" dir="ltr">
                    <span class="input-group-text"> إجباري *</span>
                    <input type="text" class="form-control text-end" id="id_number">
                </div>
            </div>
        </div>
        <p class="pt-4">سوف يتم إرسال رابط إستعادة كلمة المرور علي البريد الإلكتروني المدخل</p>
        <button class="btn btnGreen my-4" (click)="request_reset_password()"> إستعادة كلمة المرور </button>
    </form>
</div>

<app-success-message *ngIf="view_success" [message_1]="message_1" [message_2]="message_2" [message_3]="message_3" [page_link]="page_link">
</app-success-message>