tbody {
    tr {
        cursor: pointer;
    }

    .td-1{
        min-width: 180px;
    }

    .td-2{
        min-width: 220px;
    }

    .td-3{
        min-width: 60px;
    }

    .td-4{
        min-width: 110px;
    }

    .td-5{
        min-width: 130px;
    }
}

.modal-body {
    p {
        margin-bottom: 20px;
        font-size: 15px;

        @media screen and (max-width: 400px) {
            font-size: 13px;
        }
    }
}

.underReview{
    color: #F0C419;
}