<div class="container text-end content py-4" dir="rtl">
    <h2 class="fw-bold">جميع منتجاتي</h2>
    <div class="table-responsive text-start pt-4" dir="ltr">
        <table class="table">
            <thead class="bg-white">
                <tr>
                    <th class="py-3 border-bottom-0">Product Name English</th>
                    <th class="py-3 border-bottom-0">Category (GPC)</th>
                    <th class="py-3 border-bottom-0">NFSA Reg.No</th>
                    <th class="py-3 border-bottom-0">Price (EGP)</th>
                    <th class="py-3 border-bottom-0">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 text-success">product name english</td>
                    <td class="py-3">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3">1520360</td>
                    <td class="py-3">100,000 Egp</td>
                    <td class="py-3">Approved</td>
                </tr>
                <tr>
                    <td class="py-3 text-success">product name english</td>
                    <td class="py-3">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3">1520360</td>
                    <td class="py-3">100,000 Egp</td>
                    <td class="py-3">Approved</td>
                </tr>
                <tr>
                    <td class="py-3 text-success">product name english</td>
                    <td class="py-3">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3">1520360</td>
                    <td class="py-3">100,000 Egp</td>
                    <td class="py-3">Approved</td>
                </tr>
                <tr>
                    <td class="py-3 text-success">product name english</td>
                    <td class="py-3">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3">1520360</td>
                    <td class="py-3">100,000 Egp</td>
                    <td class="py-3">Approved</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btnGreen mt-3 mb-3 ms-2">إضافة منتجات الآن</button>
    <p class="mb-5">
        <small dir="rtl">في حالة وجود خطأ ما يرجي التواصل معنا من خلال
            <a href="https://www.contact@fsdu.com" target="_blanck"><b>contact@fsdu.com</b> </a>
        </small>
    </p>
</div>