<div class="container text-end content py-4" dir="rtl">
    <h2 class="fw-bold">جميع منتجاتي</h2>
    <div class="table-responsive text-start pt-4" dir="ltr">
        <table class="table">
            <thead class="bg-white">
                <tr>
                    <th class="py-3 border-bottom-0">Product Name English</th>
                    <th class="py-3 border-bottom-0">Category (GPC)</th>
                    <th class="py-3 border-bottom-0">NFSA Reg.No</th>
                    <th class="py-3 border-bottom-0">Price (EGP)</th>
                    <th class="py-3 border-bottom-0">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <td class="py-3 text-success td-1">product name english</td>
                    <td class="py-3 td-2">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3 td-3">1520360</td>
                    <td class="py-3 td-4">100,000 Egp</td>
                    <td class="py-3 text-success td-5">Approved</td>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <td class="py-3 text-success">product name english</td>
                    <td class="py-3">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3">1520360</td>
                    <td class="py-3">100,000 Egp</td>
                    <td class="py-3 text-danger">Declined</td>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <td class="py-3 text-success">product name english</td>
                    <td class="py-3">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3">1520360</td>
                    <td class="py-3">100,000 Egp</td>
                    <td class="py-3 underReview">Under Review</td>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <td class="py-3 text-success">product name english</td>
                    <td class="py-3">المنتجات المرتفعة في الطاقة</td>
                    <td class="py-3">1520360</td>
                    <td class="py-3">100,000 Egp</td>
                    <td class="py-3 text-success">Approved</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btnGreen mt-3 mb-3 ms-2" (click)="go_to_page('products')">إضافة منتجات الآن</button>
    <p class="mb-5">
        <small dir="rtl">في حالة وجود خطأ ما يرجي التواصل معنا من خلال
            <a href="https://www.contact@fsdu.com" target="_blanck"><b>contact@fsdu.com</b> </a>
        </small>
    </p>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Product name english</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Product name english</p>
                <p>Product name arabic</p>
                <p>GTIN رﻗﻢ اﻟﺘﺴﺠﻴﻞ أﻣﺎم إﺳﻢ ﻛﻞ ﻣﺴﺘﺤﻀﺮ ﻣﻊ </p>
                <p> NFSA Reg.No رﻗﻢ اﻟﺘﺴﺠﻴﻞ ﺑﺎﻟﻬﻴﺌﺔ اﻟﻘﻮﻣﻴﺔ ﻟﺴﻠﺎﻣﺔ اﻟﻐﺬاء</p>
                <p>Brand Name (if registered)</p>
                <p>ﻫﻞ ﺗﻢ ﺗﺴﺠﻴﻠﻪ ﺑﺎﻟﻌﻠﺎﻣﺎت اﻟﺘﺠﺎرﻳﺔ ﻣﺤﻠﻴﺎ أﻭ ﻋﺎﻟﻤﻴﺎ</p>
                <p>Category (List from NFSA)</p>
                <p>Reg Expiry Date</p>
                <p>Flavor</p>
                <p>Dosage Form</p>
                <p>Physical Character</p>
                <p>Pack Description</p>
                <p>Sizes</p>
                <p>Shelf Life</p>
                <p>Leaflet</p>
                <p>اﻟﻤﻌﺘﻤﺪة ﻣﻦ اﻟﻬﻴﺌﺔ Main Ingredients Allergens (if present)</p>
                <p>Warnings</p>
                <p>Target Age/Sex </p>
                <p>Dose</p>
                <p>Manufacturing Company</p>
                <p>Packing Company</p>
                <p>Applicant Company</p>
                <p>License Holder</p>
                <p>Importing Company(Imported Only)</p>
                <p>Country of Origin</p>
                <p>Storage conditions</p>
                <p>Price (EGP)</p>
                <p>Registration type</p>
                <p>Marketing Type</p>
            </div>
        </div>
    </div>
</div>