<div class="container text-end content py-4" dir="rtl">
    <h2>مرحبا بك في إدارة الأغذية الخاصة</h2>
    <div class="row pt-5 mb-4">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off"
                checked>
            <label class="btn btn-outline-primary widthCard py-4" for="success-outlined">
                <img src="assets/images/profile.png" class="img-fluid" alt="">
                <p class="textGray">لا تمتلك حساب</p>
                <h4 class="textBlack fw-bold">إنشاء حساب جديد</h4>
            </label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <input type="radio" class="btn-check" name="options-outlined" id="danger-outline" autocomplete="off">
            <label class="btn btn-outline-primary widthCard py-4" for="danger-outline">
                <img src="assets/images/team.png" class="img-fluid" alt="">
                <p class="textGray">تمتلك حساب بالفعل ؟</p>
                <h4 class="textBlack fw-bold"> تسجيل الدخول </h4>
            </label>
        </div>
    </div>
    <button class="btn btnGreen my-5">إنشاء حساب</button>
</div>