body{
    background-color: #fbfbfb;
    font-family: Cairo;
}
.textGray{
    color: #000000;
    opacity: 0.5;
}
.textBlack{
    color: #000000;
}
.textGreen{
    color: #226D2F;
}
.btn-outline-primary{
    background-color: white;
    border-color: white;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, 
.btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, 
.btn-outline-primary:active{
    border: 3px solid #226D2F;
    background-color: white;
    box-shadow: none;
}
.btn-outline-primary:hover , .btn-outline-primary:visited, 
.btn-outline-primary:focus {
    border: 3px solid #226D2F;
    background-color: white;
    box-shadow: none;
}
.btnGreen{
    background-color: #226D2F;
    color: white;
    font-weight: bold;
    min-width: 250px;
    border-radius: 10px;
    min-height: 60px;
}
.btnGreen:hover{
    color: white;
    opacity: 0.8;
}
.btn p{
    padding-top: 1rem;
    font-size: 12px;
}
.btn h4{
    font-size: 20px;
}
.widthCard{
    min-width: 262px;
    position: relative;
}
/* =================================================== */
.formAdd .input-group-text{
    background-color: #EEEEEE;
    border: 1px solid #226D2F;
    border-right: none;
    color: #226D2F;
    height: 48px;
}
.formAdd .form-control{
    border: 1px solid #226D2F;
    border-left: none;
    height: 48px;
    background-color: #EEEEEE;
}
.formAdd .form-control:focus{
    box-shadow: none;
    height: 48px;
    border:1px solid #226D2F;
    border-left: none;
}
.formAdd label{
    color: #b8b5b5;
}
.formAdd small{
    font-size: 13px;
    color: #b8b5b5;
}
.smallText{
    opacity: 1;
}
small a{
    color: #226D2F;
    font-weight: bold;
    opacity: 1;
    text-decoration: none;
}
.formAdd p a{
    text-decoration: none;
    font-weight: bold;
}
@media screen and (min-width:1200px){
    .footer{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}
@media screen and (max-width: 500px){
    .btnGreen{
        display: block;
        margin: auto;
    }
}