<app-stepper [current_step]="current_step" [title]="'المنتجات'" [image]="'package'" (change_step)="change_step($event)">
</app-stepper>

<div class="container" dir="rtl">
    <form *ngIf="current_step === 1">
        <div class="row">
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(0,0)">Product Name English</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Product Name English" [(ngModel)]="inputs[0][0]" name="input_0">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">يطابق نموذج التسجيل</p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(0,1)">Product Name Arabic</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Product Name Arabic" [(ngModel)]="inputs[0][1]" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">(ﻣﺜﺒﺖ ﺑﺎﻟﺴﺠﻞ اﻟﺘﺠﺎﺮﻳ وﺍﻟﺒﻄﺎﻗﺔ اﻟﻀﺮﻳﺒﻴﺔ) وﻳﻄﺎﺑﻖ ﻧﻤﻮﺬج اﻟﺘﺴﺠﻴﻞ</p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>



            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(0,2)">رقم التسجيل أمام كل مستحضر مع GTIN </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="رقم التسجيل أمام كل مستحضر مع GTIN " [(ngModel)]="inputs[0][2]" name="input_2">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(0,3)">رقم التسجيل بالهيئة القومية لسلامة الغذاء
                        NFSA Reg.No </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="رقم التسجيل بالهيئة القومية لسلامة الغذاء  NFSA Reg.No"
                        [(ngModel)]="inputs[0][3]" name="input_3">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(0,4)">Brand Name (If registered) </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Brand Name (If registered)" [(ngModel)]="inputs[0][4]" name="input_04">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(0,5)">هل تم تسجيله بالعلامات التجارية محليا أو
                        عالميا </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="هل تم تسجيله بالعلامات التجارية محليا أو عالميا" [(ngModel)]="inputs[0][5]"
                        name="input_05">
                    <p>* إجباري</p>
                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-success py-0" for="success-outlined">نعم</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                        autocomplete="off">
                    <label class="btn btn-outline-danger py-0" for="danger-outlined">لا</label>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">
                        ﻓﻰ ﺣﺎﻟﺔ وﺟﻮد ﻋﻠﺎﻣﻪ ﺗﺠﺎرﻳﺔ ﻣﻄﻠﻮب رﻓﻊ ﺷﻬﺎدﺔ ﺗﺴﺠﻴﻞ اﻟﻐﻠﺎﻣﻪ اﻟﺘﺠﺎرﻳﺔ
                        <br>
                        أﻭ ﻣﺎ ﻳﻔﻴﺪ إﺛﺒﺎت ﺗﺪاﻮﻟ اﻟﻤﻨﺘﺞ ﺑﻌﻠﺎﻣﺔ ﺗﺠﺎرﻳﺔ
                    </p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>


            <div class="col-md-12 col-form-filed">
                <div class="sub-label-div">
                    <p class="input-form-sub-label">
                        ﻓﻲ ﺣﺎﻟﺔ ﻋﺪم ﺗﻮاﻓﺮ ﻫﺬه اﻟﺤﻘﻮل ﺑﺮﺟﺎء اﻟﻀﻐﻂ ﻋﻠﻲ:
                        <span class="sub-sub-label">
                            www.gs1eg.org
                        </span>
                    </p>
                </div>
            </div>


        </div>
    </form>


    <form *ngIf="current_step === 2">
        <div class="row">
            <div class="col-12 col-form-filed">
                <div class="input-form-label-div" id="drobdown-div-id">
                    <p class="input-form-label" *ngIf="check_view_label(1,0)">Category (List from NFSA)</p>
                </div>
                <div class="input-form-div error-field dropdown-toggle cursor-pointer" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <input class="cursor-pointer" placeholder="Category (List from NFSA)" [(ngModel)]="inputs[1][0]"
                        name="input_0" disabled>
                    <p>* إجباري</p>
                </div>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [style.width]="return_dropdown_width()">
                    <li (click)="inputs[1][0] = 'أﻟﺒﺎن رﺿﻊ وﺃﻟﺒﺎن ﺗﻜﻤﻴﻠﻴﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻟﺒﺎن رﺿﻊ وﺃﻟﺒﺎن ﺗﻜﻤﻴﻠﻴﺔ
                        </a>
                    </li>
                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ أﻃﻔﺎل ﻣﺤﻀﺮة أﺳﺎﺳﺎ ﻣﻦ اﻟﺤﺒﻮب'"><a
                            class="dropdown-item text-end cursor-pointer">أﻏﺬﻳﺔ أﻃﻔﺎل ﻣﺤﻀﺮة أﺳﺎﺳﺎ ﻣﻦ اﻟﺤﺒﻮب</a></li>
                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ ﻣﻌﻠﺒﺔ ﻟﻠﺮﺿﻊ وﺍﻟﺄﻃﻔﺎل'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻏﺬﻳﺔ ﻣﻌﻠﺒﺔ ﻟﻠﺮﺿﻊ وﺍﻟﺄﻃﻔﺎل
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ ﻣﺨﺼﺼﺔ ﻟﻠﺤﺎﻟﺎت اﻟﻔﺴﻴﻮﻟﻮﺟﻴﺔ اﻟﺨﺎﺻﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻏﺬﻳﺔ ﻣﺨﺼﺼﺔ ﻟﻠﺤﺎﻟﺎت اﻟﻔﺴﻴﻮﻟﻮﺟﻴﺔ اﻟﺨﺎﺻﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ ﻣﺨﺼﺼﺔ ﻟﻠﺤﺎﻟﺎت اﻟﻤﺮﺿﻴﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻏﺬﻳﺔ ﻣﺨﺼﺼﺔ ﻟﻠﺤﺎﻟﺎت اﻟﻤﺮﺿﻴﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'اﻟﻤﻨﺘﺠﺎت اﻟﻤﻨﺨﻔﻀﺔ ﻓﻲ اﻟﻄﺎﻗﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            اﻟﻤﻨﺘﺠﺎت اﻟﻤﻨﺨﻔﻀﺔ ﻓﻲ اﻟﻄﺎﻗﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'اﻟﻤﻨﺘﺠﺎت اﻟﻤﺮﺗﻔﻌﺔ ﻓﻲ اﻟﻄﺎﻗﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            اﻟﻤﻨﺘﺠﺎت اﻟﻤﺮﺗﻔﻌﺔ ﻓﻲ اﻟﻄﺎﻗﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ ﻣﻨﺨﻔﻀﺔ اﻟﺼﻮدﻳﻮم وﺑﺪاﺋﻞ ﻣﻠﺢ اﻟﻄﻌﺎم اﻟﺘﻲ ﺗﺤﻤﻞ اﺩﻋﺎء ﺻﺤﻲ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻏﺬﻳﺔ ﻣﻨﺨﻔﻀﺔ اﻟﺼﻮدﻳﻮم وﺑﺪاﺋﻞ ﻣﻠﺢ اﻟﻄﻌﺎم اﻟﺘﻲ ﺗﺤﻤﻞ اﺩﻋﺎء ﺻﺤﻲ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ ﻣﻀﺎف اﻟﻴﻬﺎ ﻓﻴﺘﺎﻣﻴﻨﺎت أﻭ أﻣﻠﺎح ﻣﻌﺪﻧﻴﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻏﺬﻳﺔ ﻣﻀﺎف اﻟﻴﻬﺎ ﻓﻴﺘﺎﻣﻴﻨﺎت أﻭ أﻣﻠﺎح ﻣﻌﺪﻧﻴﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ ﻣﻀﺎف اﻟﻴﻬﺎ ﻣﺪﻋﻤﺎت ﺣﻴﻮﻳﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻏﺬﻳﺔ ﻣﻀﺎف اﻟﻴﻬﺎ ﻣﺪﻋﻤﺎت ﺣﻴﻮﻳﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'أﻏﺬﻳﺔ ﺗﺤﺘﻮي ﻋﻠﻰ ﻣﻮاﺩ ﻣﻨﺸﻄﺔ أﻭ ﻣﻘﻮﻳﺔ أﻭ ﻓﺎﺗﺤﺔ ﻟﻠﺸﻬﻴﺔ وﻣﺸﺮوﺑﺎت اﻟﻄﺎﻗﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻏﺬﻳﺔ ﺗﺤﺘﻮي ﻋﻠﻰ ﻣﻮاﺩ ﻣﻨﺸﻄﺔ أﻭ ﻣﻘﻮﻳﺔ أﻭ ﻓﺎﺗﺤﺔ ﻟﻠﺸﻬﻴﺔ وﻣﺸﺮوﺑﺎت اﻟﻄﺎﻗﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'ﻣﻜﻤﻠﺎت ﻏﺬاﺋﻴﺔ ﻟﺎ ﺗﺤﺘﻮي ﻋﻠﻰ ﻣﻮاﺩ ﻟﻬﺎ ﺗﺄﺛﻴﺮ دﻭﺍﺋﻲ ﻣﻌﺎﻟﺞ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            ﻣﻜﻤﻠﺎت ﻏﺬاﺋﻴﺔ ﻟﺎ ﺗﺤﺘﻮي ﻋﻠﻰ ﻣﻮاﺩ ﻟﻬﺎ ﺗﺄﺛﻴﺮ دﻭﺍﺋﻲ ﻣﻌﺎﻟﺞ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'ﻣﻜﻤﻠﺎت ﻏﺬاﺋﻴﺔ ﻟﻠﺮﻳﺎﺿﻴﻴﻦ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            ﻣﻜﻤﻠﺎت ﻏﺬاﺋﻴﺔ ﻟﻠﺮﻳﺎﺿﻴﻴﻦ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'أﻋﺸﺎب وﺗﻮاﺑﻞ ﻣﺪﻮﻧ ﻋﻠﻴﻬﺎ اﺩﻋﺎءﺎﺗ ﺻﺤﻴﺔ'">
                        <a class="dropdown-item text-end cursor-pointer">
                            أﻋﺸﺎب وﺗﻮاﺑﻞ ﻣﺪﻮﻧ ﻋﻠﻴﻬﺎ اﺩﻋﺎءﺎﺗ ﺻﺤﻴﺔ
                        </a>
                    </li>

                    <li (click)="inputs[1][0] = 'اﻟﻤﺤﻠﻴﺎت اﻟﺼﻨﺎﻋﻴﺔ (ﺑﺪاﺋﻞ اﻟﺴﻜﺮ)'">
                        <a class="dropdown-item text-end cursor-pointer">
                            اﻟﻤﺤﻠﻴﺎت اﻟﺼﻨﺎﻋﻴﺔ (ﺑﺪاﺋﻞ اﻟﺴﻜﺮ)
                        </a>
                    </li>


                </ul>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-12 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,1)">Reg Expiry Date</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Reg Expiry Date" [(ngModel)]="inputs[1][1]" onfocus="(this.type='date')"
                        onblur="(this.type='text')" id="date_1" class="text-end" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,2)">Flavor</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Flavor" [(ngModel)]="inputs[1][2]" name="input_2">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed col-form-filed-2" *ngIf="!view_another_1">
                <p (click)="view_another_1 = !view_another_1">+ Add more flavors</p>
            </div>

            <div class="col-md-6 col-form-filed" *ngIf="view_another_1">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,3)">Flavor</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Flavor" [(ngModel)]="inputs[1][3]" name="input_3">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
        </div>
    </form>

    <form *ngIf="current_step === 3">
        <div class="row">
            <div class="col-12 col-form-filed">
                <div class="input-form-label-div" id="drobdown-div-id">
                    <p class="input-form-label" *ngIf="check_view_label(2,0)">Dosage Form</p>
                </div>
                <div class="input-form-div error-field dropdown-toggle cursor-pointer" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <input class="cursor-pointer" placeholder="Dosage Form" [(ngModel)]="inputs[2][0]" name="input_0"
                        disabled>
                    <p>* إجباري</p>
                </div>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [style.width]="return_dropdown_width()">
                    <li (click)="inputs[2][0] = 'Liquid'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Liquid
                        </a>
                    </li>
                    <li (click)="inputs[2][0] = 'Powder'"><a class="dropdown-item text-end cursor-pointer">Powder</a>
                    </li>
                    <li (click)="inputs[2][0] = 'Tablet'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Tablet
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Film Coated tablet'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Film Coated tablet
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Enteric Coated Tablet'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Enteric Coated Tablet
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Chewable Tablet'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Chewable Tablet
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Effervescent Tablet'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Effervescent Tablet
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Dispersable Tablet'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Dispersable Tablet
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Sublingual'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Sublingual
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Soft Gelatin Capsule'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Soft Gelatin Capsule
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Hard Gelatin Capsule'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Hard Gelatin Capsule
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Pellets'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Pellets
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Caplet'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Caplet
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Gummies'">
                        <a class="dropdown-item text-end cursor-pointer">
                            Gummies
                        </a>
                    </li>

                    <li (click)="inputs[2][0] = 'Flakes'">
                        <a class="dropdown-item text-end cursor-pointer"> Flakes</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Biscuits'">
                        <a class="dropdown-item text-end cursor-pointer"> Biscuits</a>
                    </li>


                    <li (click)="inputs[2][0] = 'Paste'">
                        <a class="dropdown-item text-end cursor-pointer"> Paste</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Pieces'">
                        <a class="dropdown-item text-end cursor-pointer"> Pieces</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Bars'">
                        <a class="dropdown-item text-end cursor-pointer"> Bars</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Drops'">
                        <a class="dropdown-item text-end cursor-pointer"> Drops</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Gel'">
                        <a class="dropdown-item text-end cursor-pointer"> Gel</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Tea Bags'">
                        <a class="dropdown-item text-end cursor-pointer"> Tea Bags</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Herbs'">
                        <a class="dropdown-item text-end cursor-pointer"> Herbs</a>
                    </li>

                    <li (click)="inputs[2][0] = 'oral Dispersable Film'">
                        <a class="dropdown-item text-end cursor-pointer"> oral Dispersable Film</a>
                    </li>


                    <li (click)="inputs[2][0] = 'Suspension'">
                        <a class="dropdown-item text-end cursor-pointer"> Suspension</a>
                    </li>


                    <li (click)="inputs[2][0] = 'Rice'">
                        <a class="dropdown-item text-end cursor-pointer"> Rice</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Spaghetti'">
                        <a class="dropdown-item text-end cursor-pointer"> Spaghetti</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Noodles'">
                        <a class="dropdown-item text-end cursor-pointer"> Noodles</a>
                    </li>

                    <li (click)="inputs[2][0] = 'Others'">
                        <a class="dropdown-item text-end cursor-pointer"> Others</a>
                    </li>
                </ul>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-12 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,1)">Physical Character</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Physical Character" [(ngModel)]="inputs[2][1]" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,2)">Pack Description</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Pack Description" [(ngModel)]="inputs[2][2]" name="input_2">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed col-form-filed-2" *ngIf="!view_another_2">
                <p (click)="view_another_2 = !view_another_2">+ Add more Pack Description</p>
            </div>

            <div class="col-md-6 col-form-filed" *ngIf="view_another_2">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,3)">Pack Description</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Pack Description" [(ngModel)]="inputs[2][3]" name="input_3">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>




            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,4)">Sizes</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Sizes" [(ngModel)]="inputs[2][4]" name="input_4">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed col-form-filed-2" *ngIf="!view_another_3">
                <p (click)="view_another_3 = !view_another_3">+ Add more Sizes</p>
            </div>

            <div class="col-md-6 col-form-filed" *ngIf="view_another_3">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,5)">Sizes</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Sizes" [(ngModel)]="inputs[2][5]" name="input_5">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>


            <div class="col-12 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,6)">Shelf Life</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Shelf Life" [(ngModel)]="inputs[2][6]" name="input_6">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>


            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,7)">Leaflet </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Leaflet" [(ngModel)]="inputs[2][7]" name="input_7">
                    <p>* إجباري</p>
                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-success py-0" for="success-outlined">نعم</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                        autocomplete="off">
                    <label class="btn btn-outline-danger py-0" for="danger-outlined">لا</label>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed col-form-filed-2" *ngIf="!view_another_4">
                <p (click)="view_another_4 = !view_another_4">+ Attach here</p>
            </div>

            <div class="col-md-6 col-form-filed" *ngIf="view_another_4">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(2,8)">Leaflet </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Leaflet" [(ngModel)]="inputs[2][8]" name="input_8">
                    <p>* إجباري</p>
                    <input type="radio" class="btn-check" name="options-outlined_2" id="success-outlined_2"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-success py-0" for="success-outlined_2">نعم</label>

                    <input type="radio" class="btn-check" name="options-outlined_2" id="danger-outlined_2"
                        autocomplete="off">
                    <label class="btn btn-outline-danger py-0" for="danger-outlined_2">لا</label>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
        </div>
    </form>

    <form *ngIf="current_step === 4">
        <div class="row">
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,0)">اﻟﻤﻌﺘﻤﺪة ﻣﻦ اﻟﻬﻴﺌﺔ Main Ingredients</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="اﻟﻤﻌﺘﻤﺪة ﻣﻦ اﻟﻬﻴﺌﺔ Main Ingredients" [(ngModel)]="inputs[3][0]" name="input_0">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">ﻳﻜﺘﺐ اﻟﺎﺳﻢ رﺑﺎﻋﻲ </p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,1)">Allergens (if present)</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Allergens (if present)" [(ngModel)]="inputs[3][1]" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,2)">Warnings</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Warnings" [(ngModel)]="inputs[3][2]" name="input_2">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"> </p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,3)">Target Age/Sex </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Target Age/Sex" [(ngModel)]="inputs[3][3]" name="input_3">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">ﺛﺎﺑﺖ ﻟﻠﺘﻮاﺻﻞ ﻓﻲ اى وﻗﺖ </p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,4)">Dose</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Dose" [(ngModel)]="inputs[3][4]" name="input_4">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">ﺛﺎﺑﺖ ﻟﻠﺘﻮاﺻﻞ ﻓﻲ اى وﻗﺖ </p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,5)">Manufacturing Company</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Manufacturing Company" [(ngModel)]="inputs[3][5]" name="input_5">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,6)">Packing Company
                    </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Packing Company" [(ngModel)]="inputs[3][6]" name="input_6">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,7)">Applicant Company </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Applicant Company" [(ngModel)]="inputs[3][7]" name="input_7">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,8)">License Holder
                    </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="License Holder" [(ngModel)]="inputs[3][8]" name="input_8">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,9)">Importing Company(Imported Only)
                    </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Importing Company(Imported Only)" [(ngModel)]="inputs[3][9]" name="input_9">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div" id="drobdown-div-id">
                    <p class="input-form-label" *ngIf="check_view_label(3,10)">Country of Origin</p>
                </div>
                <div class="input-form-div error-field dropdown-toggle cursor-pointer" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <input class="cursor-pointer" placeholder="Country of Origin" [(ngModel)]="inputs[3][10]"
                        name="input_10" disabled>
                    <p>* إجباري</p>
                </div>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [style.width]="return_dropdown_width()">
                    <li (click)="inputs[3][10] = 'option 1'">
                        <a class="dropdown-item text-end cursor-pointer">
                            option 1
                        </a>
                    </li>
                    <li (click)="inputs[3][10] = 'option 2'">
                        <a class="dropdown-item text-end cursor-pointer">
                            option 2
                        </a>
                    </li>
                </ul>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(3,11)">Storage conditions
                    </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="Storage conditions" [(ngModel)]="inputs[3][11]" name="input_11">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
        </div>
    </form>


    <form *ngIf="current_step === 5">
        <div class="row">
            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ اﻟﺴﺠﻞ التجارى</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ اﻟﺒﻄﺎﻗﺔ اﻟﻀﺮﻳﺒﻴﺔ</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ اﻟﺴﺠﻞ اﻟﺼﻨﺎﻋﻰ</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ رﺧﺼﺔ اﻟﻤﺼﻨﻊ</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ اﻟﺒﻄﺎﻗﺔ اﻟﺸﺨﺼﻴﺔ ﻟﻠﺸﺨﺺ اﻟﻤﺴﺌﻮل اﻟﻤﻜﺘﻮب ﺑﺎﻟﺴﺠﻞ اﻟﺘﺠﺎرﻯ</p>
                </div>
            </div>


            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ نموذج ﺗﺴﺠﻴﻞ اﻟﻤﻨﺸﺄة ﺑﻘﺴﻢ اﻟﺄﻏﺬﻳﺔ اﻟﺨﺎﺻﺔ</p>
                </div>
            </div>


            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ اﺧﺮ إﻳﺼﺎل ﺳﺪاﺩ اﻟﺮﺳﻮم ﺗﺴﺠﻴﻞ ﻣﻨﺸﺄه ﺑﺎﻟﻬﻴﺌﺔ اﻟﻘﻮﻣﻴﺔ ﻟﺴﻠﺎﻣﺔ اﻟﻐﺬاء</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ اﺧﺮ ﺗﻘﺮﻳﺮ ﺗﻔﺘﻴﺶ ﻟﻬﻴﺌﺔ اﻟﺪوﺍء اﻟﻤﺼﺮﻳﺔ (ﻓﻰ ﺣﺎﻟﺔ ﻣﺼﻨﻊ دﻭﺍﺋﻰ)</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="uplod-file-div" (click)="select_file()">
                    <p>+ ﺗﺤﻤﻴﻞ ﻣﻤﺎرﺳﺎت اﻟﺘﺼﻨﻴﻊ اﻟﺠﻴﺪ PMG (ﻓﻰ ﺣﺎﻟﺔ ﻣﺼﻨﻊ دﻭﺍﺋﻰ)</p>
                </div>
            </div>
        </div>

        <input type="file" class="d-none" id="form-5-file-input">
    </form>

    <app-stepper-actions [current_step]="current_step" (go_to_next_step)="go_to_next_step($event)">
    </app-stepper-actions>
</div>