<div class="container text-end content py-4">
    <h2>تسجيل الدخول</h2>
    <form action="#" class="formAdd pt-4">
        <div class="row" dir="rtl">
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,1)">  إسم الشركة باللغة الإنجليزية / البريد الإلكتروني  </p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="إسم الشركة باللغة الإنجليزية / البريد الإلكتروني" [(ngModel)]="inputs[1][1]" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,4)">رقم البطاقة الضريبية</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="رقم البطاقة الضريبية" [(ngModel)]="inputs[1][4]" name="input_4">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,5)">كلمة المرور</p>
                </div>
                <div class="input-form-div error-field">
                    <input type="password" placeholder="كلمة المرور" [(ngModel)]="inputs[1][5]" name="input_5">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <p class="pt-lg-4"><span class="text-muted">هل نسيت كلمة المرور ؟ </span>
                    <a routerLink="/request-reset-password" class="textGreen">إستعادة كلمة المرور الآن</a>
                </p>
            </div>
            <small dir="rtl">في حالة وجود خطأ ما يرجي التواصل معنا من خلال
                <a href="https://www.contact@fsdu.com" target="_blanck"><b>contact@fsdu.com</b> </a>
            </small>
        </div>
        <button class="btn btnGreen my-5" (click)="login()"> تسجيل دخول</button>
    </form>
</div>