<div class="container text-end content py-4 mb-5" dir="rtl">
    <h2 class="fw-bold pb-3">حسابي</h2>
    <p class="py-3">
        <span>إسم الشركة باللغة الإنجليزية : </span>
        <span class="fw-bold pe-2">Egyption Company</span>
    </p>
    <p class="py-3">
        <span>إسم الشركة باللغة العربية</span>
        <span class="fw-bold pe-2">الشركة المصرية</span>
    </p>
    <p class="py-3">
        <span>البريد الإلكتروني</span>
        <span class="fw-bold pe-2">company@companywebsite.com</span>
    </p>
    <p class="py-3">
        <span>رقم البطاقة الضريبية</span>
        <span class="fw-bold pe-2">026 497 050</span>
    </p>
    <button class="btn btnGreen mt-3 mb-3 ms-2">تغيير كلمة المرور</button>
    <p class="mb-5 pt-4">
        <small dir="rtl">في حالة وجود خطأ ما يرجي التواصل معنا من خلال
            <a href="https://www.contact@fsdu.com" target="_blanck"><b>contact@fsdu.com</b> </a>
        </small>
    </p>
</div>