<div class="container text-end content py-4">
    <h2>تسجيل الدخول</h2>
    <form action="#" class="formAdd pt-4">
        <div class="row" dir="rtl">
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,1)">إسم الشركة باللغة الإنجليزية</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="إسم الشركة باللغة الإنجليزية" [(ngModel)]="inputs[1][1]" name="input_1">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label">يطابق نموذج التسجيل</p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,2)">إسم الشركة باللغة العربية</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="إسم الشركة باللغة العربية" [(ngModel)]="inputs[1][2]" name="input_2">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"> (مثبت بالسجل التجاري والبطاقة الضريبية)  ويطابق نموذج التسجيل</p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,3)">اﻟﺒﺮﻳﺪ اﻟﺈﻟﻜﺘﺮوﻧﻲ</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="اﻟﺒﺮﻳﺪ اﻟﺈﻟﻜﺘﺮوﻧﻲ" [(ngModel)]="inputs[1][3]" name="input_3">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,4)">رقم البطاقة الضريبية</p>
                </div>
                <div class="input-form-div error-field">
                    <input placeholder="رقم البطاقة الضريبية" [(ngModel)]="inputs[1][4]" name="input_4">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-form-filed">
                <div class="input-form-label-div">
                    <p class="input-form-label" *ngIf="check_view_label(1,5)">كلمة المرور</p>
                </div>
                <div class="input-form-div error-field">
                    <input type="password" placeholder="كلمة المرور" [(ngModel)]="inputs[1][5]" name="input_5">
                    <p>* إجباري</p>
                </div>

                <div class="sub-label-div">
                    <p class="input-form-sub-label"></p>
                    <p class="form-error-div">
                        <img src="assets/images/error-icon.png">
                        <span>يجب ان تملئ هذا الحقل</span>
                    </p>
                </div>
            </div>
            <small class="smallText" dir="rtl">في حالة وجود خطأ ما يرجي التواصل معنا من خلال
                <a href="https://www.contact@fsdu.com" target="_blanck" class="textGreen"><b
                        class="textGreen">contact@fsdu.com</b> </a>
            </small>
        </div>
        <button class="btn btnGreen my-5">إنشاء حساب</button>
    </form>
</div>