<!-- <header class="bg-white py-2">
    <div class="container">
        <img src="assets/images/Frame.png" class="img-fluid ms-auto d-block" alt="">
    </div>
</header> -->
<nav class="navbar navbar-expand-md navbar-light bg-white" dir="rtl">
  <div class="container pe-0">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Frame.png" class="img-fluid ms-auto d-block" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      *ngIf="appVariables.get_authorization_token() !== null">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
      *ngIf="appVariables.get_authorization_token() !== null">
      <ul class="navbar-nav ms-auto pe-sm-3 pe-3 pe-lg-5">
        <li class="nav-item ps-lg-2">
          <a class="nav-link" [ngClass]="{'active' : check_on_page('landing')}" routerLink="/landing">
            الصفحة الرئيسية
          </a>
        </li>
        <li class="nav-item pe-lg-3">
          <a class="nav-link" [ngClass]="{'active' : check_on_page('my-products')}" routerLink="/my-products">
            جميع منتجاتي
          </a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-3 pe-sm-3">
        <li class="nav-item dropdown text-end">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-user-circle fa-lg"></i> إسم الشركة
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-end fw-bold" href="#">حسابي</a></li>
            <li><a class="dropdown-item text-end fw-bold text-danger" (click)="log_out()">تسجيل الخروج</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>