.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: red;
    padding-bottom: 1rem;
    border-bottom: 1px solid red;
    font-weight: bold;
}
@media screen and (max-width:767px){
    .navbar-collapse{
        padding-top: 1rem;
    }
}