.action-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 20px;

    button {
        flex: 1;
        font-size: 20px;
        padding: 13px 0px;
        font-weight: bold;
        border-radius: 10px;
        background-color: transparent;
        border: unset;

        @media screen and(max-width:450px) {
            font-size: 16px;
        }

        @media screen and(max-width:350px) {
            font-size: 14px;
        }
    }

    .first-button {
        background-color: #226d2f;
        color: #fff;
    }

    .second-button {
        margin-right: 20px;
        color: #226d2f;
        border: solid 1px #226d2f;
    }
}
