.main-theme-container {
    margin-top: 60px;
    margin-bottom: 60px;
    .main-stepper-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .stepper-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @media screen and (max-width: 991px) {
                justify-content: center;
                margin-top: 30px;
            }

            @media screen and (max-width: 500px) {
                zoom: 0.9;
            }

            @media screen and (max-width: 400px) {
                zoom: 0.8;
            }

            @media screen and (max-width: 350px) {
                zoom: 0.7;
            }

            .current-step,
            .done-step {
                border: solid 1px #226d2f;
                span,
                i {
                    color: #fff;
                    background-color: #226d2f;
                    font-weight: bold;
                }
            }

            .done-step {
                border: unset;

                span {
                    display: none;
                }
            }

            .current-step {
                i {
                    display: none;
                }
            }

            .not-selected-step {
                border: solid 1px #226d2f;
                span,
                i {
                    color: #226d2f;
                }

                i {
                    display: none;
                }
            }

            p {
                margin: unset;
                border-radius: 50%;
                padding: 4px;
                cursor: pointer;
                span,
                i {
                    display: block;
                    padding: 15px 25px;
                    font-size: 20px;
                    border-radius: 50%;

                    @media screen and(max-width:400px) {
                        padding: 12px 20px;
                    }
                }

                i {
                    padding: 22px 22px;
                }
            }

            .stepper-inside-border {
                max-width: 4vw;
                width: 100%;
                border: dashed 1px #226d2f;

                @media screen and (max-width: 500px) {
                    max-width: 10vw;
                }

                @media screen and (max-width: 400px) {
                    max-width: 12vw;
                }

                @media screen and (max-width: 350px) {
                    max-width: 14vw;
                }
            }

            .stepper-inside-border-done {
                border: solid 1px #226d2f;
            }
        }

        .stepper-title {
            direction: rtl;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media screen and (max-width: 991px) {
                align-items: center;
            }

            p {
                margin: unset;
            }
            div {
                display: flex;
                align-items: flex-start;
                font-size: 40px;
                line-height: 30px;
                p {
                    padding-right: 1rem;
                    padding-top: 0.5rem;
                    @media screen and (max-width:500px){
                        font-size: 30px;
                    }
                }
            }
            .sub-title {
                margin-top: 20px;
                font-size: 14px;
                line-height: 22px;
                opacity: 0.5;
            }
        }
    }
}

.sub-stepper-div-container {
    margin-bottom: 20px;

    .zero-sub-stepper-text {
        font-size: 15px;
        color: #e5231e;
        margin-bottom: 30px;
    }

    .main-sub-stepper-text {
        font-size: 25px;
        color: #000;
        opacity: 1;
        font-weight: bold;
    }

    .second-sub-stepper-text {
        margin-bottom: unset;
        font-size: 15px;
    }

    .third-sub-stepper-text {
        color: #000;
        opacity: 0.5;
        font-size: 15px;
        margin-bottom: 50px;
    }
}
