<div class="container main-theme-container">
    <div class="row main-stepper-container">
        <div class="col-12 col-lg-6 stepper-container">
            <p [ngClass]="{'not-selected-step' : current_step < 5 , 'current-step' : current_step === 5 }"
                (click)="change_step_event(5)"><i class="fas fa-check"></i><span>5</span></p>
            <div class="stepper-inside-border" [ngClass]="{'stepper-inside-border-done' : current_step > 4}"></div>
            <p [ngClass]="{'not-selected-step' : current_step < 4 , 'current-step' : current_step === 4 , 'done-step' : current_step > 4 }"
                (click)="change_step_event(4)"><i class="fas fa-check"></i><span>4</span></p>
            <div class="stepper-inside-border" [ngClass]="{'stepper-inside-border-done' : current_step > 3}"></div>
            <p [ngClass]="{'not-selected-step' : current_step < 3 , 'current-step' : current_step === 3 , 'done-step' : current_step > 3 }"
                (click)="change_step_event(3)"><i class="fas fa-check"></i><span>3</span></p>
            <div class="stepper-inside-border" [ngClass]="{'stepper-inside-border-done' : current_step > 2}"></div>
            <p [ngClass]="{'not-selected-step' : current_step < 2 , 'current-step' : current_step === 2 , 'done-step' : current_step > 2 }"
                (click)="change_step_event(2)"><i class="fas fa-check"></i><span>2</span></p>
            <div class="stepper-inside-border" [ngClass]="{'stepper-inside-border-done' : current_step > 1}"></div>
            <p [ngClass]="{'current-step' : current_step === 1 , 'done-step' : current_step > 1}"
                (click)="change_step_event(1)"><i class="fas fa-check"></i><span>1</span></p>
        </div>
        <div class="col-12 col-lg-6 order-first order-lg-last stepper-title">
            <div>
                <img src="assets/images/{{image}}.png">
                <p>{{title}}</p>
            </div>
            <p class="sub-title">ادخل الطلبات التاليه:</p>
        </div>
    </div>

</div>