/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fbfbfb;
    font-family: Cairo;
}
.textGray {
    color: #000000;
    opacity: 0.5;
}
.textBlack {
    color: #000000;
}
.textGreen {
    color: #226d2f;
}
.btn-outline-primary {
    background-color: white;
    border-color: white;
}
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    border: 3px solid #226d2f;
    background-color: white;
    box-shadow: none;
}
.btn-outline-primary:hover,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    border: 3px solid #226d2f;
    background-color: white;
    box-shadow: none;
}
.btnGreen {
    background-color: #226d2f;
    color: white;
    font-weight: bold;
    min-width: 250px;
    border-radius: 10px;
    min-height: 60px;
}
.btnGreen:hover {
    color: white;
    opacity: 0.8;
}
.btn p {
    padding-top: 1rem;
    font-size: 12px;
}
.btn h4 {
    font-size: 20px;
}
.widthCard {
    min-width: 262px;
    margin-bottom: 1rem;
    position: relative;
}
@media screen and (max-width: 991px) {
    .widthCard {
        width: 100%;
    }
}
/* =================================================== */
.formAdd .input-group-text {
    background-color: #eeeeee;
    border: 1px solid #226d2f;
    border-right: none;
    color: #226d2f;
    height: 48px;
}
.formAdd .form-control {
    border: 1px solid #226d2f;
    border-left: none;
    height: 48px;
    background-color: #eeeeee;
}
.formAdd .form-control:focus {
    box-shadow: none;
    height: 48px;
    border: 1px solid #226d2f;
    border-left: none;
}
.formAdd label {
    color: #b8b5b5;
}
.formAdd small {
    font-size: 13px;
    color: #b8b5b5;
}
.smallText {
    opacity: 1;
}
small a {
    color: #226d2f;
    font-weight: bold;
    opacity: 1;
    text-decoration: none;
}
.formAdd p a {
    text-decoration: none;
    font-weight: bold;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
@media screen and (max-width: 600px) {
    .footer {
        position: unset;
    }
}
@media screen and (max-width: 500px) {
    .btnGreen,
    .outGreen,
    .btnSend {
        display: block;
        margin: auto;
        width: 100%;
    }
}

/* ============================      Landing Page    ================================== */
.imgAbsolute {
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn-outline-primary {
    background-color: white;
    border-color: white;
}
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    border: 3px solid #226d2f;
    background-color: #226d2f;
    color: white;
    box-shadow: none;
}

*:focus {
    outline: unset;
}
* {
    font-family: Cairo;
}

.col-form-filed {
    .dropdown-menu {
        z-index: 2;

        .dropdown-item:hover {
            background-color: #226d2f;
            color: #fff;
        }
    }

    .dropdown-item {
        padding: 12px 10px;
    }
}

.border-div {
    border: solid 1px rgb(168 166 166 / 50%);
    width: 100%;
    margin: 10px 0px;
}

.uplod-file-div {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 33px 0px;
    margin-bottom: 30px;
    background-color: rgba(34, 109, 47, 0.1);
    border: dashed 2px;
    cursor: pointer;
    text-align: center;

    p {
        margin: unset;
        font-size: 15px;
    }
}

.font-weight-bold {
    font-weight: bold;
}

.white-tooltip .tooltip-inner {
    background-color: #fff !important;
    color: #000;
    z-index: 4;
}


.white-tooltip .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before{
    border-top-color: #fff;
}